      <div class="content">
        <div class="col s12 m6">
          <div class="card white">
            <div class="card-content">
              <p><%= blog.text %></p>
                <span>posted <%= time_ago_in_words(blog.created_at) %> ago</span>
            </div>
            <% if user_signed_in? && current_user.id == blog.user_id %>

            </li>
            <li class="action">
              <%= link_to 'Edit', "/blogs/#{blog.id}/edit", method: :get %>
            </li>
             <li class="action">
              <%= link_to 'Delete', "/blogs/#{blog.id}", method: :delete %>
              <% end %>
            </li>
          </div>
        </div>
      </div>
