

    <div class="contents-wrapper">
     <% @blogs.each do |blog| %>
    <%= render partial: "blog", locals: { blog: blog } %>
    <% end %>

<div class="pagenation"><%= paginate(@blogs) %></div>
</div>
