
<div class="contents-wrapper">
  <%= form_with model: @blog , local: true do |form| %>
    <h3>
      投稿する
    </h3>
    <textarea cols="30" name="text" placeholder="投稿内容を入力してください" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>
